/* src/styles/desktop/project.css */

/* Desktop Project */
.desktop-project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 80px auto 0;
  padding: 0 40px;
}

.desktop-project-carousel {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
}
